/* removes download icon from st.dataframe  */
[data-testid="stElementToolbar"] {
    display: none;
}


/* streamlit display options */
/* MainMenu {
    visibility: hidden;
} */

footer {
    visibility: hidden;
}

/* header {
    visibility: hidden;
} */